/* 
1- posicionamiento
2- Modelo de caja
3- Tipografía
4- Visuales
5- Otros
*/
:root {
  --bitcoin-orange:#F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warn-black: #201E1C;
  --warn-black_1: #282623;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, var(--warn-black) 16.69%, var(--bitcoin-orange) 100%);
}

header img {
  width: 151px;
  height: 24px;
}

.header__content {
  padding: 0 16px;
  width: 90%;
  min-width: 320px;
  margin-top: 50px;
}

.header__content h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white)
}

.header__content p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange)
}

.header__content .header__button {
  position: absolute;
  bottom: -24px;
  left:calc(50% - 115px);
  width:229px;
  height: 48px;
  padding: 15px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.161);
  border-radius: 4px;
  text-decoration: none;
  color: var(--warn-black);
  font-size: 1.4rem;
  font-weight: bold;
}
.header__button i {
  display: inline-block;
  margin-left: 10px;
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange {
  width:100%;
  height: auto;
  padding: 80px 0 30px 0;
  text-align: center;
}

.main-exchange__header {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange .background-img {
  width: 195px;
  height: 195px;
  margin: 0 auto 40px auto;
  background-image: url('./assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange h2 {
  margin-bottom: 24px;
  font-size:2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warn-black);
}

.main-exchange p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.main-tables table {
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  /* height: 360px; */
  margin: 0 auto;
  border-collapse: collapse;
}
.main-tables tbody {
  margin: 0;
  width: 100%;
  display:table;
  font-family:"Inter", sans-serif;
  background-color: var(--just-white);
  border-radius: 3px;
}
.main-tables tbody td {
  width: 50%;
  height: 40px;
  padding: 10px 12px;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  color: #B5B0AC;
}
.main-tables tbody td + td {
  color: #757575;
  font-weight: 300;
}

.main-tables table caption{
  caption-side: bottom;
}

.table__title {
  padding: 10px 12px;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  color: #FF9536;
}

.icon-trending__down {
  background-image: url("./assets/icons/trending-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.icon-trending__up {
  background-image: url("./assets/icons/trending-up.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.main-tables caption {
  margin: 16px 0;
}
.main-tables caption p{
  background-color:var(--soft-orange);
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  color: var(--warn-black_1);
  font-weight: 300;
}
.main-tables caption p>b{
  font-weight: bold;
}

.product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 50px 16px;
  background-color: var(--warn-black);
}

.batata-logo {
  position: absolute;
  top:-12px;
  left: calc(50% - 20px);
  width: 40px;
  height: 25px;
  background-image: url('./assets/icons/batata.svg');
}

.product-detail__header {
  width: 100%;
  min-width: 288px;
  height: auto;
  margin: 10px auto;
  text-align: center;
}
.product-detail__header h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--just-white);
}
.product-detail__header p {
  margin-bottom: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #808080;
}

.product-card {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  /* min-height: 150px; */
  margin: 10px auto;
  padding: 20px 18px;
  background-color: var(--black);
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px #00000029;
}
.icon-clock {
  background-image: url('./assets/icons/clock.svg');
}

.icon-eye {
  background-image: url('./assets/icons/eye.svg');
}

.icon-dollar {
  background-image: url('./assets/icons/dollar-sign.svg');
}
.card-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-card__title {
  margin: 12px auto 10px auto;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product-card__body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100vw;
  min-width: 320px;
  height: 50vh;
  background-image: url("./assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans {
  width: 100%;
  min-width: 320px;
  margin: 50px 0;
  text-align: center;
}

.plans__header {
  width:90%;
  height: auto;
  margin: 0 auto 40px;
}

.plans__header > h2 {
  padding: 10px 0;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--black)
}

.plans__header > p {
  padding: 10px 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-slider {
  display: flex;
  margin: 0;
  padding: 10px 40px;
  gap: 10px;
  scrollbar-width: none;  /* Firefox */
  overflow-x: scroll;
  overscroll-behavior-x: auto;
  scroll-snap-type: x proximity;
}

.plan-card {
  position: relative;
  scroll-snap-align:center;
  width: 60%;
  min-width: 190px;
  max-width: 230px;
  height: 250px;
  margin: 5px 0;
  padding:16px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.161);
}

.recomended {
  position: absolute;
  top: -10px;
  left: calc(50% - 50px);
  width: 100px;
  padding: 8px;
  z-index: 1;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  color: var(--just-white);
}

.plan-card__title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card__price {
  padding: 8px 15px 8px 0;
  font-size: 5.2rem;
  line-height: 4.2rem;
  font-weight: bold;
  letter-spacing: -0.5rem;
  color: black;
}
.plan-card__price::before {
  content: '$';
  font-weight: 500;
  font-size: 1.2rem;
  vertical-align:25px;
  padding-right:7px;
}

.plan-card__caption {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #757575;
}

.plan-card__action {
  width: 150px;
  padding: 12px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: bold;
  margin: 15px 0 5px 0;
}

.icon-arrow {
  background-image: url('./assets/icons/orange-right-arrow.svg');
  margin-left: 5px;
  vertical-align: text-bottom;
}

footer {
  display: flex;
  height: 150px;
  background-color: var(--bitcoin-orange);
  justify-content: space-evenly;
  align-items: center;
}

footer section {
  display:flex;
  height: 50%;
  width: auto;
}
footer section:first-child ul {
  list-style: none;
}
footer section:first-child ul > li {
  padding: 4px;
  text-align: center;
}
footer section:first-child ul > li > a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--just-white);
}